.nav-links li{
    color: rgba(129, 129, 129, 1);
}
.nav-links li a{
    color: rgba(129, 129, 129, 1);
}

.nav-links .aqua .icon{
    background-color: rgba(112, 211, 251, 1);
}

.nav-links .aqua .drop-content{
    border-bottom: solid 2px rgba(112, 211, 251, 1);
}
.aqua .drop-content li:hover,
.aqua:hover{
    background-color: rgba(112, 211, 251, 1);
}

.nav-links .beer .icon{
    background-color: rgba(254, 222, 70, 1);
}

.nav-links .beer .drop-content{
    border-bottom: solid 2px rgba(254, 222, 70, 1);
}

.beer .drop-content li:hover,
.beer:hover{
    background-color: rgba(254, 222, 70, 1);
}

.nav-links .refresco .icon{
    background-color: rgba(255, 113, 123, 1);
}

.nav-links .refresco .drop-content{
    border-bottom: solid 2px rgba(255, 113, 123, 1);
}
.refresco .drop-content li:hover,
.refresco:hover{
    background-color: rgba(255, 113, 123, 1);
}

.nav-links .zumo .icon{
    background-color: rgba(0, 219, 211, 1);
}

.nav-links .zumo .drop-content{
    border-bottom: solid 2px rgba(0, 219, 211, 1);
}
.zumo .drop-content li:hover,
.zumo:hover{
    background-color: rgba(0, 219, 211, 1);
}

.nav-links .vino .icon{
    background-color: rgba(201, 2, 20, 1);
}

.nav-links .vino .drop-content{
    border-bottom: solid 2px rgba(201, 2, 20, 1);
}
.vino .drop-content li:hover,
.vino:hover{
    background-color: rgba(201, 2, 20, 1);
}
.licor .icon{
    background-color: rgba(160, 3, 174, 1);
}

.nav-links .licor .icon{
    background-color: rgba(160, 3, 174, 1);
}

.nav-links .licor .drop-content{
    border-bottom: solid 2px rgba(160, 3, 174, 1);
}
.licor .drop-content li:hover,
.licor:hover{
    background-color: rgba(160, 3, 174, 1);
}

.nav-links .snacks .icon{
    background-color: rgba(220, 109, 0, 1);
}

.nav-links .snacks .drop-content{
    border-bottom: solid 2px rgba(220, 109, 0, 1);
}
.snacks .drop-content li:hover,
.snacks:hover{
    background-color: rgba(220, 109, 0, 1);
}

.nav-links .action .icon{
    background-color: rgba(87, 162, 0, 1);
}

.nav-links .action .drop-content{
    border-bottom: solid 2px rgba(87, 162, 0, 1);
}
.action .drop-content li:hover,
.action:hover{
    background-color: rgba(87, 162, 0, 1);
}

.one{
    background-color: rgba(220, 109, 0, 1);
}
.two{
   background-color: rgba(0, 219, 211, 1); 
}
.three{
    background-color: rgba(87, 162, 0, 1);
}
/**/@media screen and (max-width: 1199px){
    .nav-links .aqua .drop-content,
.nav-links .beer .drop-content,
.nav-links .refresco .drop-content,
.nav-links .zumo .drop-content,
.nav-links .vino .drop-content,
.nav-links .licor .drop-content,
.nav-links .snacks .drop-content,
.nav-links .action .drop-content{
    border-bottom: none;
}
}