@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: #ffffff;
}

nav{
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #ffffff;
  margin-top: 10px;
  height: 80px;
  box-shadow: 0 10px 10px rgb(0, 0, 0,0.1),0 -10px 10px rgb(0, 0, 0,0.1);

}
nav input[type="checkbox"]{
  display: none;
}
.content .nav-links li label{
  display: none;
}
.nav-links{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-links>li{
  padding: 0 24px;
  height: 80px;
  border-right: solid 1px rgba(243, 243, 243, 1);
  list-style: none;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.nav-links>li:first-child{
  border-left: solid 1px rgba(243, 243, 243, 1);

}

.nav-links>li>a{
  text-decoration: none;
  font-size: 16px;
  height: auto;
  transition: all 0.3s ease;
}
.icon{
  margin-top: 20px;
  height: 15px;
  width: 17px;
  transition: all 0.3s ease;
}

.nav-links li:hover{
 color: #fff;
}

.nav-links li:hover .icon{
  background-color: rgb(255, 255, 255);
}

.nav-links li:hover .drop-content{
  opacity: 1;
  visibility: visible;
}

.nav-links li:hover>a{
  color: #fff;
}
.nav-links li a:hover{
  color: #fff;
}

.links li,
.links li a{
  transition: all 0.3s ease;
  display:block;
  width:500px;
}

.links li a{
  text-decoration: none;
  padding: 2px 12px;
}

.content{
  line-height: 45px;
}

.drop-content{
  background: #fff;
  position: absolute;
  left: 0;
  top: 80px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: all 0.3s ease;
}

.drop-content .content{
  padding: 25px 20px;
  display: flex;
  min-height: 350px;
  width: 1200px;
  justify-content: space-between;
}

.adbox{
  width: 600px;
  border: solid 1px  rgba(243, 243, 243, 1);
  margin: 0 30px;
}


@media screen and (max-width: 1199px){

.content .nav-links li a.desktop-link{
    display: none;
}

.drop-content .adbox{
  display: none;
}

nav #show-menu:checked ~ .menu-icon .one{
  margin: 0;
  transform: translate(-10px, 8px) rotate(45deg);
  background-color: #f3f3f3;
} 
nav #show-menu:checked ~ .menu-icon .two{
  margin: 0;
  transform: translate(-10px, 0px) rotate(-45deg);
  background-color:#f3f3f3;
}
nav #show-menu:checked ~ .menu-icon .three{
  margin: 0;
  transform: translate(-10px, -7px) rotate(-45deg);
  background-color: #f3f3f3;

}

.drop-content .content,
.links li{
 padding: 0;
}
.nav-links>li,
.links li{
  height: 60px;
}

.content .nav-links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 60px;
    cursor: pointer;
    position: absolute;
    width: 100%;
}
nav #show-menu:checked ~ .content .nav-links{
  left: 0%;
}
.content .nav-links #mobile-link-aqua:checked ~ .drop-content,
.content .nav-links #mobile-link-beer:checked ~ .drop-content,
.content .nav-links #mobile-link-refresco:checked ~ .drop-content,
.content .nav-links #mobile-link-zumo:checked ~ .drop-content,
.content .nav-links #mobile-link-vino:checked ~ .drop-content,
.content .nav-links #mobile-link-licor:checked ~ .drop-content,
.content .nav-links #mobile-link-snacks:checked ~ .drop-content,
.content .nav-links #mobile-link-action:checked ~ .drop-content{
  opacity: 1;
  visibility: visible;
}
.menu{
  display: block;
  margin: 0 0 0 auto;
}
.menu-icon{
  height: 80px;
  width: 80px;
  margin: 0 0 0 auto;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.menu-lines{
  height: 80px;
  width: 80px;
}
.line{
  margin: 4px 10px;
  height: 10%;
  width: 6vw;
  min-width: 46px;
  border-radius: 12px;
  transition: all 0.3s ease;
}
.nav-links{
  display: block;
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  left: -100%;
  margin-left: 0;
  transition: all 0.3s ease;
  background-color: rgb(255, 255, 255);
  border-bottom: solid 1px rgba(243, 243, 243, 1);
}
.icon{
  margin: 22.5px 21.5px;
}
.nav-links li{
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-top: solid 1px rgba(243, 243, 243, 1);
  border-right: none;
}
.nav-links li:hover .drop-content{
  opacity: 0;
  visibility: hidden;
}

.nav-links>li>a{
  text-decoration: none;
  height: auto;
}
.links{
  width:100%;
}
.links li{
  width:100%;
  line-height: 45px;
  font-size: 20px;
}
.links li:last-child{
  border-bottom: solid 1px rgba(243, 243, 243, 1);
}

.drop-content{
  border: none;
  top:0;
  z-index: 3;
  margin-left: 60px;
  width: 100%;
  height: 100%;
  border-bottom: solid 1px rgba(243, 243, 243, 1);
}


}